<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default.html}">
    <head>
        <title>Edit Product</title>
    </head>
    <body>
        <div layout:fragment="content" class="row">
            <div class="col-xs-8 col-md-8">
                <h3>
                    <a href="/product" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-list"></span> Product</a>
                </h3>
                <h2>Edit Product</h2>
                <form action="/update">
                    <div class="form-group">
                        <label for="email">Name</label>
                        <input type="text" class="form-control" name="pName" th:value="${product.getName()}" />
                    </div>
                    <div class="form-group">
                        <label for="email">Description</label>
                        <textarea class="form-control" name="pDescription" cols="60" rows="3" th:text="${product.getDescription()}"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="email">Code</label>
                        <input type="text" class="form-control" name="pCode" th:value="${product.getCode()}" />
                    </div>
                    <div class="form-group">
                        <label for="email">Manufacturer</label>
                        <input type="text" class="form-control" name="pManufacturer" th:value="${product.getManufacturer()}" />
                    </div>
                    <input type="hidden" name="pId" th:value="${product.getId()}" />
                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            </div>
        </div>
    </body>
</html>