<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default.html}">
    <head>
        <title>Show Product</title>
    </head>
    <body>
        <div layout:fragment="content" class="row">
            <div class="col-xs-8 col-md-8">
                <h3>
                    <a href="/product" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span> Product</a>
                </h3>
                <h2 th:text="${product.getName()}"></h2>
                <dl class="list">
                    <dt>Description</dt>
                    <dd th:text="${product.getDescription()}"></dd>
                    <dt>Code</dt>
                    <dd th:text="${product.getCode()}"></dd>
                    <dt>Manufacturer</dt>
                    <dd th:text="${product.getManufacturer()}"></dd>
                </dl>
                <form action="/delete">
                    <input type="hidden" name="pId" th:value="${product.getId()}" />
                    <h2><input type="submit" class="btn btn-danger" value="Delete" onclick="return confirm('Are you sure?');" />
                        <a th:href="@{'/edit/' + ${product.getId()}}" class="btn btn-warning">Edit</a></h2>
                </form>
            </div>
        </div>
    </body>
</html>